/* font */
@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap");
/* Declare font:
font-family: "Open Sans", sans-serif; 
font-family: "Montserrat", sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
}
body {
  font-size: 1rem;
  line-height: 1.5;
  width: 100%;
}
#grabNavColor {
  min-height: 3.5rem;
  background-color: #f2f2f2;
  color: #333333;
  opacity: 0.9;
}
.languageItems {
  display: flex;
}
header {
  height: 30rem;
  margin-top: 3.5rem;
  background-color: #f2f2f2;
  /* background-color:rgba(255,255,255,1); */
}
#carlIndHero li {
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
}
.howGrabWork {
  min-height: 42rem;
  background-color: #f2f2f2;
  padding-top: 5rem;
}
.hgwRow1 {
  height: 6rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hgwRow1 h1 {
  color: #00ba51;
}
.hgwRow1 p {
  color: #464b57;
}
.hgwRow2 {
  min-height: 28rem;
  display: flex;
  /* margin: 2rem; */
  padding-top: 2rem;
}
.phoneCol {
  background-image: url("/img/asset\ 28.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
/* .phoneCol img {
  height: 29rem;
  width: 10rem;
} */
.stepsCol {
  height: 29rem;
  display: flex;
  flex-direction: column;
  /* background-color: yellowgreen; */
}
.steps {
  flex: 1;
  /* background-color: royalblue; */
  display: flex;
  flex-direction: column;
}
.steps a {
  text-decoration: none;
  color: #00ba51;
  opacity: 0.9;
}
.steps a:hover {
  text-decoration: none;
  opacity: 0.6;
}
.stHead {
  display: flex;
  justify-content: flex-start;
}
.stHead h5 {
  margin-left: 1rem;
}
.stBody {
  display: flex;
  align-items: center;
  padding-left: 0.8rem;
}
.stBody img {
  height: 100%;
  width: 1rem;
}
.stBody p {
  margin-left: 1.5rem;
}

.whatYouShouldKnow {
  height: 25em;
  background-color: #00b23e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whatYouShouldKnow h1 {
  width: 60%;
  margin: 2.5rem auto;
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
  font-weight: bolder;
}
.wyskCenter {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-content: center; */
}
.wyskCenter a {
  background-color: #ffffff;
  color: #00b040;
  text-decoration: none;
  display: flex;
  align-self: center;
  opacity: 0.9;
}
.wyskCenter a:hover {
  text-decoration: none;
  opacity: 0.75;
}
.btnClickMe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 3rem;
  text-align: center;
  font-size: larger;
  font-weight: bolder;
}

.freedomToChoose {
  height: 30rem;
  margin: 0 auto;
  /* background-image: url("/img/asset\ 30.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}
#carlIndFreedom li {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  background-color: #ffffff;
}
.downloadGrab {
  height: 35em;
  margin: 0 auto;
  background-image: url("/img/asset\ 29.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dlGrCenter {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}
.dlGrHead {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dlGrBody {
  /* height: 5rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.colScan {
  padding-top: 2rem;
  display: flex;
  justify-content: flex-end;
}
.colScan i {
  padding-top: 2rem;
  display: flex;
  align-self: center;
  color: #ffffff;
  margin-left: 2rem;
}
.colApp img {
  padding-top: 2rem;
}
.latestNews {
  height: 60rem;
  background-color: #f2f2f2;
}
.lNewsHead {
  /* height: 3rem; */
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lNewsHead h2 {
  color: #00ba51;
}
.lNewsHead p {
  color: #464b57;
}
.newImg {
  height: 20rem;
}
.chungTay {
  width: 78%;
  margin: 0 auto;
  /* height: 350px; */
  background-image: url("/img/asset\ 34.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.gFood {
  /* height: 350px; */
  width: 38%;
  margin: 0 auto;
  background-image: url("/img/asset\ 35.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.newBr {
  height: 1rem;
}
.newsHotel {
  /* height: 350px; */
  background-image: url("/img/asset\ 36.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.newsHolding {
  /* height: 350px; */
  background-image: url("/img/asset\ 37.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.newsFpt {
  /* height: 350px; */
  background-image: url("/img/asset\ 38.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.preFooter {
  min-height: 45em;
  background-color: #00b140;
}
.preFtBody {
  display: flex;
  font-size: smaller;
}
footer {
  height: 5em;
  background-color: #363a45;
}
.footerRow {
  height: 100%;
}
.footCol1 {
  height: 5rem;
  display: flex;
  align-items: center;
}
.footCol2 {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footCol3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footCol3 img {
  margin-left: 1rem;
  height: 2rem;
  width: 7rem;
}
/* .links {
  flex: 1;
}
.links ul {
  list-style: none;
} */
